body { 
    font-family:"WhitneySSm", sans-serif;
    font-weight:500;
    font-style:normal;
    margin: 10px;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    box-sizing: border-box;
}
h1{
    font-family: "MillerDisplay";
    font-weight: bold;
    font-size: 2em;
    color: #CE3F24;
    text-align: center;
}
body{
    font-size: 1.5em;
    text-decoration: wavy;
}
.chatlog {
    visibility: inherit;
    background: blue;
    height: 516px;
    overflow-y: scroll;
}

#p1 {
    content: attr(uinput);
}
figure.bot{
    float: left; 
    clear: left; 
    margin-right: 0%;
}
figcaption {
    text-align: left;
    font-size: 0.65em;
    font-style: italic;
    font-weight: bold;
    font-family:"MillerDisplay", sans-serif;
    color: #CE3F24;
}

#container {
    width: 500px;
    min-width: 300px;
    height: 600px;
    padding: 25px;
    margin: 20px auto;
    background-color: #CE3F24;
    border-width: 2px;
    border-color: black;
}

#chatlog {
    position: fixed;
}

#chatlog p {
    border-radius: 5px;
    outline-color: black;
}

.incoming{
    background-color: black;
    color: #b9b9b9;
    padding-left: 2em;
    padding-right: 1em;
    margin-right: 300px;
    display: inline-block;
}

.outgoing{
    background-color: #b9b9b9;
    color: black;
    padding-left: 1em;
    padding-right: 2em;
    overflow:hidden; 
    margin-left: 26px;
    margin-right: 76px;
    margin-bottom: 0;
    margin-top: 0;
    float: right;
    width: auto;
    max-width: 46%;
}

#indicator {
    position: fixed;
    bottom: 50px;
    left: 40%;
    right: 40%;
    font-style: italic;
    color:#000;
    font-size: 0.75em;
}

#input {
    position: fixed;
    left: 30px;
    right: 15px;
    bottom: 30px;
    width: 600px;
    margin: 0 auto;
    font-size: 14px;
    align-self: center;
}

#uinput {
    font-family: WhitneySSm, sans-serif; 
    height: 30px;
    width: 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:#f2f2f2;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

#submit {
    color: white;
    background-color: #CE3F24;
    border: none;
    border-top-right-radius: 20px!important; 
    border-bottom-right-radius: 20px!important; 
    padding: 10px 30px;
    margin: 20px 0 0 0;
    font-family:"WhitneySSm", sans-serif;
    font-weight: 700;
    letter-spacing: 1.2px;
}

#submit:hover, #submit:active {
    cursor: pointer;
    color: black;
}