body { 
    font-family: "Trebuchet MS", Tahoma, Verdana;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 1em;
    padding-right: 1em;
    background-color: black;
    color: white;
}
h1{
    font-weight: bold;
    font-size: 2em;
    color: lightblue;
    text-align: center;
}
h2{
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    text-decoration: wavy;
}
#links {color: lightpink;}
a:link {
    color: lightpink;
    text-decoration: none; 
}
a:active {
    color: cornsilk;
    text-decoration: none; 
}
a:visited {
    color: lightgreen;
    text-decoration: none; 
}
a:hover {
    color: lightblue;
    text-decoration: underline; 
}
figure {
    /*float: right; 
    clear: right; */
    margin-right: 0%;
}
figcaption {
    text-align: center;
    font-size: 0.75em;
    font-style: italic;
}

#input {
    position: fixed;
    bottom: 30px;
    width: 600px;
}

#uinput {
    height: 30px;
    width: 70%;
}

#submit {
    background-color: #1c92d2;
    color: white;
    border: solid white;
    font-family: Verdana, sans-serif;
    border-radius: 0px;
    padding: 10px 30px;
    margin: 20px 0 0 0;
}